// Main styles
$primary-color: #fcaf32;
$secondary-color: #fc888e;

html,
body {
  font-family: 'Lato', sans-serif;
  margin: 0;
  padding: 0;
}

.main {
  align-items: center;
  background: linear-gradient(-45deg, $primary-color 0%, $secondary-color 100%);
  display: flex;
  justify-content: center;
  min-height: 100vh;
}

.btn-main {
  appearance: none;
  background: transparent;
  border: 0;
  cursor: pointer;
  font-family: 'Lobster', cursive;
  font-size: 42px;
  height: 60px;
  outline: none;
  padding: 0 20px;
  transition: transform .5s ease;

  &:hover {
    transform: scale(1.15);
  }
}

.form-popup-error {
  position: absolute;
  top: -1%;
  left: 50%;
  transform: translateX(-50%);
  width: 15rem;
  padding: .5rem;
  text-align: left;
  letter-spacing: .03rem;
  line-height: 1.5rem;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #FF5154;
  color: white;
  border: 1px solid white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}